html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;/* Altura total menos la altura del footer */
    width: 100%;
    z-index: -1;
    background: url('../img/copa america.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.content-wrapper {
    position: relative;
    z-index: 2;
}

.countdown-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .countdown-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  .countdown-title {
    font-size: 24px;
    color: #2c4681;
    margin-bottom: 20px;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
  }
  
  .time {
    min-width: 50px;
    min-height: 50px; /* Tamaño mínimo para los elementos que contienen los números */
    text-align: center;
    margin: 0 10px;
    padding: 10px 0;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.card img {
    height: 200px;
    object-fit: cover;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

