.loading{
    color: white;
}
.text-justify {
    text-align: justify;
}
#loadingSpinner {
    display: none;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingSpinner::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid  #ffffff;
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.stadiums-img {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 15px;
}

.card-text {
    font-size: 0.875rem;
}

.card-footer {
    background-color: #f8f9fa;
    text-align: right;
    padding: 10px;
}
.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

custom-footer {
    margin-top: auto;
}