html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;/* Altura total menos la altura del footer */
    width: 100%;
    z-index: -1;
    background: url('../img/copa america.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.content-wrapper {
    position: relative;
    z-index: 2;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.navbar-nav .nav-link {
    font-size: 1.25rem;
    color: #000;
}

.countdown-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .countdown-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  .countdown-title {
    font-size: 24px;
    color: #2c4681;
    margin-bottom: 20px;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
  }
  
  .time {
    min-width: 50px;
    min-height: 50px; /* Tamaño mínimo para los elementos que contienen los números */
    text-align: center;
    margin: 0 10px;
    padding: 10px 0;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.card img {
    height: 200px;
    object-fit: cover;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer */
.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}

.social-buttons__button {
    margin: 10px 5px 0;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
}

.social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button i {
    font-size: 28px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}

.social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
    color: #fff !important;
}

.social-button:focus::after,
.social-button:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
}

.social-button--facebook {
    color: #3b5998 !important;
}

.social-button--facebook::after {
    background: #3b5998;
}

.social-button--twitter {
    color: #1da1f2 !important;
}

.social-button--twitter::after {
    background: #1da1f2;
}

.social-button--pinterest {
    color: #bd081c !important;
}

.social-button--pinterest::after {
    background: #bd081c;
}

.social-button--youtube {
    color: #ff0000 !important;
}

.social-button--youtube::after {
    background: #ff0000;
}

.social-button--instagram {
    color: #c13584 !important;
}

.social-button--instagram::after {
    background: #c13584;
}